      body {
      padding-top: 20px;
      padding-bottom: 40px;
      }
      .container {
      width: 960px;
      }
      p.lead {
      padding-top: 15px;
      }
      .navigation {
        margin-bottom: 10px;
      }
      .navigation, .pitch, .section1, .section2, .faq, .footer {      
      padding: 10px 0px 10px 0px;
      }
      img.logo {
      height: 93px;
      }
      .tagline {
      font-weight: bold;
      }
      .description {
      width: 80%;
      }
      .video, .thermometer, .order, .action-button {
/*      border: 1px dotted;*/
      text-align: center;
      }

      .order {
      margin-bottom: 20px;
      }
      .thermometer, .order, .action-button {
      /* line-height to vertically center: http://phrogz.net/css/vertical-align/index.html */
/*      height: auto;*/
/*      line-height: 40px;*/
      }
      .progress {
      margin: 10px 10px 0 10px;
      }
      div.row {
      border: 1px solid #ddd;
      }

.campaign-topline-stats {
  height: 70px;
}

.campaign-topline-stats li {
  float: left;
  line-height: 1em;
  list-style-type: none;
  margin: 20px 0 0 0;
  padding: 0;
  text-align: center;
  width: 33%;
}

.campaign-topline-stats li strong {
  display: block;
/*  font-size: 40px;*/
  margin: 0 0 5px 0;
}